.illustration {
    background-image: url('../../assets/images/404.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 70vh;
}

.message h1 {
    font-size: 2rem;
}