<div class="container h-70">
    <div class="illustration"></div>
    <div class="message text-center">
        <h1>Página não encontrada</h1>
    </div>
</div>
<div class="container h-30">
    <div class="row h-30 mt-3 d-flex justify-content-center align-items-center">
        <div class="col-sm-6 col-md-6">
            <div class="message text-center">
                <a routerLink="/mentorias" href="$" class="btn btn-secondary btn-block shadow-none">Me tire daqui!</a>
            </div>
        </div>
    </div>
</div>