body {
    -webkit-font-smoothing: antialiased !important;
    background-color: darken($light, 3%) !important;
    color: $dark !important;
    font-size: $font-size-base;
    font-family: 'Proxima Nova Rg' !important;
    font-weight: normal;
    font-style: normal;
}

body, html {
    height: 100%;
}

::-moz-selection {
    color: #fff;
    background: $secondary;
}
  
::selection {
    color: #fff;
    background: $secondary;
}

$spacer: 1.5rem;
$border-radius: .25rem !default;
$border-radius-lg: .250rem !default;
$border-radius-sm: .20rem !default;
$border-width: .12em;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1000px,
  xl: 1250px
) 