<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-5 col-md-5">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Login</h1>
                    <form>
                        <div class="form-group">
                            <label for="cpf">CPF</label>
                            <input type="number" class="form-control shadow-none" id="cpf" placeholder="CPF" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control shadow-none" id="password" placeholder="Senha">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block shadow-none mt-3">Acessar Plataforma</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>