<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-8 col-md-8">
            <div class="card mt-2 mb-2">
                <div class="card-body">
                    <h1 class="card-title">Crie sua conta</h1>
                    <form>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="nome">Nome</label>
                                    <input type="text" class="form-control shadow-none" id="nome" placeholder="Nome"
                                        autofocus>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="sobrenome">Sobrenome</label>
                                    <input type="text" class="form-control shadow-none" id="sobrenome"
                                        placeholder="Sobrenome">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="cpf">CPF</label>
                                    <input type="number" class="form-control shadow-none" id="cpf"
                                        placeholder="CPF">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="type">Perfil</label>
                                    <select id="type" class="form-control">
                                        <option selected></option>
                                        <option>Quero ser mentorado</option>
                                        <option>Quero ser um mentor</option>
                                      </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control shadow-none" id="email"
                                        placeholder="E-mail">
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group">
                                    <label for="password">Senha</label>
                                    <input type="password" class="form-control shadow-none" id="password"
                                        placeholder="Senha">
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary btn-block shadow-none mt-3">Cadastrar-se</button>
                    </form>
                    <div class="mt-3 text-center">
                        <span>Já possui conta? <a href="/login">faça login</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>