<div class="container">
    <h1 class="mb-3">Perfil</h1>

    <div class="row">
        <div class="col-lg-4 col-12 mb-4">
            <!-- <div class="card">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div> -->
            <img class="image-chatbot" src="../../assets/images/profile.svg" alt="Imagem ilustrativa de chatbot">
        </div>

        <div class="col-lg-8 col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Mapeamento</h2>

                    <div class="conversation-area d-flex justify-content-start">
                        <div class="dialog col-10">
                            <span class="owner-message">AutismoTech perguntou:</span><br>
                            Aqui está uma pergunta?
                        </div>
                    </div>

                    <div class="conversation-area d-flex justify-content-end">
                        <div class="dialog col-10">
                            <span class="owner-message">Você respondeu:</span><br>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. A ullam ab, esse accusantium
                            excepturi, voluptatum dignissimos quam vitae reiciendis minus animi, tempore dolor delectus
                            harum ut fuga modi! Eius, atque!
                        </div>
                    </div>

                    <form>
                        <div class="form-group mt-3">
                            <label for="response">Digite sua resposta</label>
                            <textarea class="form-control" id="response" rows="1"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block shadow-none mt-3">Enviar
                            Resposta</button>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>